.userSettings-container{
  background-color: white;

  margin: 20px auto;
  max-width: 550px;
  width: auto;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 80px;
  padding-right: 80px;

  border-radius: 50px 5px;

  background-image:url('../../assets/images/line.svg');
  background-repeat: no-repeat;
  background-position: right 20px top 12.5%, 0 0;
  background-size: 500px;
}

.title{
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.3em;
  color: #2d5487;
}

.user-icon{
  height: 45px;
  width: 45px;
  position: relative;
  float:left;
  margin-left: 50px;
}

@media only screen and (max-width: 500px) {
  .userSettings-container{

    max-width: 95%;

    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;

    background-position: right 10px top 12.5%, 0 0;
    background-size: 370px;
  }
}

@media only screen and (max-width: 375px) {
  .user-icon{
    height: 35px;
    width: 35px;
  }
}
