.userSettings-container{
  margin: auto;
  border: 1px dashed black;

  width: 900px;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 55px;
  padding-right: 55px;
}

.navbar{
  height: 150px;
  width: auto;
  border: 1px dashed black;
  margin-bottom: 10px;
}

.title{
  text-align: center;
  margin-bottom: 30px;
  font-size: 3em
}
