/* A simple reset*/
*{
  box-sizing: border-box;
  display: block;

  margin: 0;
  padding: 0;
}

/* resetting these to display none*/
head, title, link, meta, style, script {
	display: none;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
