/* Form lables */
.settingsForm-label{
  font-size: 1.3em;
  color: #2d5487;

  margin-bottom: 5px;
  margin-left: 4px;
}

.invalid-label::after{
  content: " * this feild is required/invalid";

  color: #ff7070;
  font-weight: normal;
  font-size: .7em;
}

/*Form input*/
.settingsForm-input{
  font-size: 1em;
  border: 1px solid #6993C9;
  color: #2d5487;

  padding: 6px;
  width: 100%;
  margin-bottom: 35px;
  border-radius: 5px;
}

.email{
  margin-bottom: 7px
}

.settingsForm-checkbox-container{
  display: flex;
  margin-bottom: 35px
}

.checkbox-text{
  font-size: .9em;
  color: #6993C9;

  margin-left: 5px;
}

.checkbox {
  margin-left: 10px;
  width: 20px;
	height: 20px;
}

.select{
  height: 35px;
  padding-left: 10px;

  background-image:url('../../assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  background-color: #f2f7ff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.textarea{
  height: 110px;
  border: 1px solid #6993C9;
}

.submit{
  background-color: #458EED;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  border: 2px solid #458EED;
  border-radius: 50px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;

  text-transform: uppercase;
}

.clear{
  background-color: #f2f7ff;
  color: #458EED;
  border: 2px solid #458EED;

  margin-bottom: 20px;
}

/*focus settings*/
.settingsForm-input:focus{
  outline: none;
  border: 1px solid #6BE1FF;
  box-shadow: 0 0 2px 0.5px #6BE1FF;
}

.submit.clear.settingsForm-input:focus{
  outline: none;
  border: 2px solid #458EED;
  box-shadow: none;
}

.submit.settingsForm-input:focus{
  outline: none;
  border: 1px solid #458EED;
  box-shadow: none;
}

/*hover for buttons*/
.submit.clear:hover{
  border-color: #ff7070;
  color: #ff7070;
  background-color: white;
}

.submit:hover{
  border-color: #6BE1FF;
  background-color: #6BE1FF;
}

/*invalid input classes*/
.invalid-input{
  border: 1px solid #ff7070;
}

.invalid-input.settingsForm-input:focus{
  outline: none;
  border: 1px solid #ff8e8e;
  box-shadow: 0 0 2px 0.5px #ff8e8e;
}

/*break points for mobile*/
@media only screen and (max-width: 500px) {
  .checkbox {
    margin-left: 10px;
    width: 15px;
  	height: 15px;
  }
}
